.product__container {
  padding: 8rem 0;
  width: 75%;
  margin: auto;
  min-height: 100vh;
}

.selected__product {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.product__container img {
  width: 55%;
  height: 30rem;
  border-radius: 5px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details h1 {
  font-size: 2.5rem;
}

.details p {
  font-size: 1.2rem;
}

.cart__btn,
.home__btn {
  background-color: white;
  border: 1.5px solid black;
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
  margin-right: 1rem;
  border-radius: 5px;
  transition: all 0.2s;
}

.btn {
  margin-top: 1.5rem;
}

.cart__btn:hover,
.home__btn:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1200px) {
  .selected__product {
    display: flex;
    flex-direction: column;
  }
  .selected__product img,
  .selected__product .details {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .product__container {
    width: 90%;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 750px) {
  .selected__product img {
    height: 25rem;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 550px) {
  .selected__product img {
    height: 20rem;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 430px) {
  .selected__product img {
    height: 12rem;
    transition: all 0.2s ease-in-out;
  }
  .delivery__details {
    font-size: 0.8rem;
  }
  .details .description {
    font-size: 1rem;
    text-align: justify;
  }
  .details h1 {
    font-size: 1.8rem;
  }
  #tax__tag {
    font-size: 1rem;
  }
}
